body {
    background-image: url(../images/yosemitepic.jpg);
    font-family: 'Bree Serif', serif;
}

.banner {
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}

.timeRemaining {
    font-size: 30px;
    padding-top: 50px;
    padding-left: 330px;
}

#timer {
    font-size: 30px;
    padding-top: 50px;
    padding-left: 20px;
}

.questionOne,
.questionTwo,
.questionThree {
    font-size: 30px;
    text-align: center;
    padding-top: 70px;
} 

p {
    color: white;
}

.container2,
.container3,
.container4 {
    padding-left: 300px;
    padding-top: 30px;
}

#team2,
#team3,
#team4,
#team6,
#team7,
#team8,
#team10,
#team11,
#team12 {
    margin-left: 50px;
}

