h1 {
    text-align: center;
}

body {
    background-image: url(../images/sportscenter.jpg);
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    color: white;
}

#time {
    text-align: center;
    padding-top: 20px;
}

.btn {
    margin-left: 520px;
    margin-top: 50px;
    font-size: 30px;
    color: white;
}